<app-navbar></app-navbar>

<div class="container my-5">

  <app-boton-regresar></app-boton-regresar>

  <h1 class="text-center mb-4">Métricas de las Obras</h1>

  <!-- FILTRO -->
  <div class="filtro-container">
    <div class="filtro-card">

      <div class="filtro-inputs">
        <div class="input-group">
          <label>Desde</label>
          <input type="date"
            (change)="fechaDesde = $any($event.target).valueAsDate">
        </div>

        <div class="input-group">
          <label>Hasta</label>
          <input type="date"
            (change)="fechaHasta = $any($event.target).valueAsDate">
        </div>
      </div>

      <button (click)="aplicarFiltro()">
        Aplicar Filtro
      </button>

    </div>
  </div>

  <!-- KPI CARDS -->
  <div class="kpi-container">

    <div class="kpi-card kpi-blue">
      <h6>Costo Promedio x m²</h6>
      <h3>{{ costoPromedioMetro | currency:'COP' }}</h3>
    </div>

    <div class="kpi-card kpi-green">
      <h6>Total Obras</h6>
      <h3>{{ totalObras }}</h3>
    </div>

    <div class="kpi-card kpi-orange">
      <h6>Empleados Activos</h6>
      <h3>{{ totalEmpleados }}</h3>
    </div>

    <div class="kpi-card kpi-purple">
      <h6>Salario Total</h6>
      <h3>{{ salarioTotal | currency:'COP' }}</h3>
    </div>
  </div>

    <!-- GRID -->
  <div class="dashboard-grid">

    <div class="card shadow bar-chart">
      <h5 class="text-center mb-2">Costo por Metro y Tamaño de Obra</h5>
      <canvas #grafCostoMetro></canvas>
    </div>

    <div class="card shadow bar-chart">
      <h5 class="text-center mb-2">Personal por Obra</h5>
      <canvas #grafPersonalObra></canvas>
    </div>

    <div class="card shadow doughnut-chart">
      <h5 class="text-center mb-2">Personal por Ciudad</h5>
      <canvas #grafPersonalCiudad></canvas>
    </div>

    <div class="card shadow bar-chart">
      <h5 class="text-center mb-2">Resumen Empleados y Salarios por Obra</h5>
      <canvas #grafResumenObra></canvas>
    </div>

    <div class="card shadow doughnut-chart">
      <h5 class="text-center mb-2">Salarios por Ciudad</h5>
      <canvas #grafSalarioCiudad></canvas>
    </div>

  </div>

</div>